body {
  font-size: 14;
}
.verdepalma {
  background-color: #7D8F81 !important;
}
input:focus:not([type]):not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
input[type="date"]:focus:not([readonly]),
input[type="datetime"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #7D8F81 !important;
  box-shadow: 0 1px 0 0 #7D8F81 !important;
}
a {
  color: #7D8F81;
}
.login-page {
  background-image: url(../images/fondo3.jpg);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 350s linear infinite;
}
.error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  font-size: 12px;
}
.msg {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #000;
  background-color: #d4dbd5;
  border-color: #000;
  font-size: 12px;
}
.side-nav {
  font-size: 11px;
}
.side-nav .side-nav li > a > i .material-icons {
  font-size: 10px;
}
nav .brand-logo {
  font-size: 22px !important;
}
.card-title {
  font-size: 18px;
  padding: 14px;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
